[submodule "Effekseer"]
	path = Effekseer
	url = https://github.com/effekseer/Effekseer.git
[submodule "TestData"]
	path = TestData
	url = https://github.com/effekseer/TestData.git
[submodule "ResourceData"]
	path = ResourceData
	url = https://github.com/effekseer/ResourceData.git
