name: package

on:
  push:
    branches:    
      - master
      - 15x
      - 16x
      - 17x
    tags:
      - v*
  pull_request:
    branches:
      - master
      - 15x
      - 16x
      - 17x

jobs:
  build:

    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: prepare
      shell: bash
      run: |
        git submodule update --init --depth 1
        sh scripts/clone_dependencies.sh

    - name: Install gettext dependency
      run: brew install gettext

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        architecture: 'arm64'

    - name: pip
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install dukpy
        python -m pip install jsmin

    - name: build
      shell: bash
      run: |
        source emsdk/emsdk_env.sh
        python build.py

    - uses: actions/upload-artifact@v4
      with:
        name: EffekseerForWebGL180Beta2
        path: Release
  
    - name: pip
      shell: bash
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -U selenium
        python3 -m pip install requests

    - name: test
      shell: bash
      run: |
        cd tests
        python3 take_screenshot.py
  
    - uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: tests/screenshots

    - name: test
      shell: bash
      run: |
        cd tests
        python3 test.py
